<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.peermountain.scan_id_sdk"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA"/>

    <application>
        <activity
            android:name=".scan.ScanIdentityDocumentCameraActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/PmCoreTheme">
        </activity>

    </application>

</manifest>