<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.peermountain.core"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- Required for Nearby Connections -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- Required for Nearby Connections END -->
    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/PmCoreTheme"
        tools:replace="android:theme">
        <activity
            android:name=".share.ShareContactActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PmCoreTheme">
        </activity>
        <activity
            android:name=".camera.CameraActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/PmCoreTheme">
        </activity>
        <activity
            android:name=".camera.ShowLiveSelfieActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/PmCoreTheme">
        </activity>
        <activity android:name=".odk.XFormActivity">
        </activity>
    </application>

</manifest>